<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>180431956824-3nmpj06dplvpio0l2f4agon1sgqsd5q1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.180431956824-3nmpj06dplvpio0l2f4agon1sgqsd5q1</string>
	<key>API_KEY</key>
	<string>AIzaSyDhtwcYnI92QHZA7fxEfrGX0xwa7u624wc</string>
	<key>GCM_SENDER_ID</key>
	<string>180431956824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sky.movieapp</string>
	<key>PROJECT_ID</key>
	<string>skymovieapp</string>
	<key>STORAGE_BUCKET</key>
	<string>skymovieapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:180431956824:ios:121eefd771130405c5532d</string>
</dict>
</plist>